<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    </head>
    <body>
        <nav class = "navbar navbar-default navbar-static-top">
            <div class = "container text-center">
                {% block content %}
                    {%comment%} Checks if use is logged in  {%endcomment%}
                    {% csrf_token %}
                    {% if user.is_authenticated %}
                    <div>
                        <p style="color:#808000;">Hi {{ user.username }}!</p>
                        <p style="color:#008080;">Your Email is {{ user.email }}</p>
                    </div>
                    <p><a href="{% url 'logout' %}">logout</a></p>
                    {% else %}
                    <p>You are not logged in</p>
                    <a href="{% url 'login' %}">login</a>
                    {% endif %}
                {% endblock %}
            </div>
        </nav>
    </body>
</html>        