


<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    <ul class="navbar-nav ml-auto">
        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" id="userDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{% if current_user.is_authenticated %}
                    {{current_user.username}}{%else%}Guest User{% endif %}</span>
                <div class="sidebar-brand-icon">
                    {% if current_user.is_authenticated %}
                        <i class="fas fa-user-check fa-2x"></i>
                    {%else%}
                        <i class="fas fa-user-times fa-2x"></i>
                    {% endif %}
                    
                    <!--<i class="fas fa-user-check fa-2x"></i>-->
                </div>
            </a>
            {% if current_user.is_authenticated %}
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{{url_for('profile', username=current_user.username)}}">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{url_for('logout')}}" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                </a>
            </div>
            {% else %}
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{{url_for('login_modal')}}" data-toggle="modal" 
                    data-target="#loginModal">
                    <i class="fas fa-sign-in-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Login
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{url_for('register')}}">
                    <i class="fas fa-book fa-sm fa-fw mr-2 text-gray-400"></i>
                    Register
                </a>
            </div>
            {%endif%}
        </li>

</ul>

</nav>