table,td,th,tr{
    border:1px solid #000000;
}
.bold{
    font-weight:bolder;
    text-align: center;
}
.result{
    column-span: 4px;
    width: 400px;
    text-align: right;
    padding-right: 5px;
}
.data{
    padding-left: 5px;
}