/*This is the CSS file used in CSS Intro.html taken on 22-09-2022*/

p {
    color:red;
    padding:6px;
    border:solid;
    border-radius:34px;
}
h1 {
    font-size:24px;
}
#a {
    font-size:xx-large;
    color:green;
}
.b {
    border:dotted;
}
