body
{
    margin:0px;
    padding:0px;
    background-color:#cccccc;
}

.section_head
{
  font-size:28px;
   
}

.p1{
   font-style: italic;
}

.p2{
    font-size: 24px;
 }

section{
    margin-left: 20px;
}
.scroll{
    scroll-margin:initial ;
}