body
{
   margin:0px;
   padding:0px;
   background-color:#cccccc;
   overflow:hidden;
   
}
.section_head
{
  font-size:28px;
   
}

.p1{
   font-style: italic;
}

.p2{
    font-size: 24px;
 }

section{
    margin-left: 20px;
}
.scroll{
    scroll-margin:initial ;
}
ul
{
    background-color:#444;
    text-align:center;
    padding:0px;
    margin:0px;
    margin-left:0px;
    list-style:none;
    
}
li
{
    font-size:44px;
    line-height:40px;
    height:40px;
    padding:40px;
    margin-left: 1px;
    margin-right:20px;
    display:inline-block;
      
}
a
{
    text-decoration: none;
    color:#ffffff
}
footer{
    background-color: #444;
    color:#fff;
    text-align: center;
    margin-top: 20%;
}